.searchbox {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 32px !important;
    white-space: nowrap;
    box-sizing: border-box;
    visibility: visible !important
}

#book-search {
    margin: 0 auto;
    width: 300px;
}

.searchbox .algolia-autocomplete {
    display: block;
    width: 100%;
    height: 100%
}

.searchbox__wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative
}

.searchbox__input {
    display: inline-block;
    box-sizing: border-box;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px #ccc;
    background: #fff !important;
    padding: 0;
    padding-right: 26px;
    padding-left: 32px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
    display: none
}

.searchbox__input:hover {
    box-shadow: inset 0 0 0 1px #b3b3b3
}

.searchbox__input:active,
.searchbox__input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #aaa;
    background: #fff
}

.searchbox__input::-webkit-input-placeholder {
    color: #aaa
}

.searchbox__input:-ms-input-placeholder,
.searchbox__input::-ms-input-placeholder {
    color: #aaa
}

.searchbox__input::placeholder {
    color: #aaa
}

.searchbox__submit {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 16px 0 0 16px;
    background-color: rgba(69, 142, 225, 0);
    padding: 0;
    width: 32px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: inherit;
    left: 0
}

.searchbox__submit:before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.searchbox__submit:active,
.searchbox__submit:hover {
    cursor: pointer
}

.searchbox__submit:focus {
    outline: 0
}

.searchbox__submit svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    fill: #6d7e96
}

.searchbox__reset {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, .5)
}

.searchbox__reset.hide {
    display: none
}

.searchbox__reset:focus {
    outline: 0
}

.searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 8px;
    height: 8px
}

.searchbox__input:valid ~ .searchbox__reset {
    display: block;
    -webkit-animation-name: a;
    animation-name: a;
    -webkit-animation-duration: .15s;
    animation-duration: .15s
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

#book-search-input {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-top: 1px solid rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    margin-top: -1px;
}

.logo {
    background: no-repeat;
    background-size: 100px;
    vertical-align: middle !important;
    height: 60px;
    font-size: 1.5em;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    padding: 10px;
}

.logo > span {
    font-size: 1.5em;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* FIX for algolia search box getting cropped off */
/* FIX-START*/

.book.with-summary .book-summary {

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;

    /* reset */
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    z-index: auto;
    width: inherit;
    border: none;

}

.book-summary > a, /*logo*/
#book-search-input,
.book-summary > nav {
    width: 300px;
}

.book.with-summary .book-body{
    border-left: 1px solid rgba(0,0,0,0.07);
}

#book-search-input {
    margin-bottom: 0;
}

.book-summary > nav {
    overflow-y: auto;
}

/* FIX-END*/

body{
    overflow-y: hidden; /* prevent double scroll-bar */
}
